node_modules
.pnpm-store
.next
dist
build
coverage
*.tsbuildinfo
.env
.env.*
!.env.example
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.git
.gitignore
.github
.vscode
.idea
.runtime
Dockerfile
docker-compose.yml
